/Exerc.1/nbproject/private/
/Exerc.1/build/
/JavaApplication38/nbproject/private/
/JavaApplication38/build/
/exerc.2/nbproject/private/
/exerc.3/nbproject/private/
/exerc.3/build/
/exerc.4/nbproject/private/
/exerc.4/build/