/Exerc.1/nbproject/private/
/Exerc.1/build/
/JavaApplication38/nbproject/private/
/JavaApplication38/build/
/exerc.2/nbproject/private/
/exerc.3/nbproject/private/
/exerc.3/build/
/exerc.4/nbproject/private/
/exerc.4/build/
/exerc.5/nbproject/private/
/exerc.5/build/
/exerc.6/nbproject/private/
/exerc.6/build/
/exerc.7/nbproject/private/
/exerc.7/build/
/exerc.8/nbproject/private/
/exerc.8/build/
/exerc.9/nbproject/private/
/exerc.9/build/